.dark {
    background-color: #333;
    color: #ffffff;

}
#content {
    max-width: 600px;
    border: 1px black solid;
    margin: 3.5em auto;
    padding: 2em;
}

h1 {
    font-family: Georgia, serif;
    /*font-weight: bold;*/
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
}
h2 {
    font-family: Georgia, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
    color: #006eb6;
}
p {
    font-family: Georgia, serif;
    /*font-style: italic;*/
    /*font-weight: bold ;*/
    display: flex
    width = 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}
.paragraph {
    display: flex;
    justify-content: center;
    text-align: left;
    font-style: italic;
    margin-right: 350px;
}
#logo {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 80px;
}
.dark h2 {
    color: lightblue;
}
